<div class="col-md-4" *ngFor="let function of functions">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{function.id_movie}}
        <button class="btn btn-danger" (click)="deleteFunction(function.id_function)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <div class="card-body">
        <p>{{function.id_room}}</p>
        <p>{{function.function_date}}</p>
        <p>{{function.function_hour}}</p>
        <a [routerLink]="['/functions/edit', function.id_function]" class="btn btn-info btn-block">
          EDIT FUNCTION
        </a>
      </div>
    </div>
  </div>