<div>
  <div class="content">
    <h1>Seat's Options</h1>
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" [ngClass]="{'active': selection[0]}" href="/administrator?tab=seats.add" id="seats-add-tab"
          data-toggle="tab" role="tab" aria-controls="movies.list" aria-selected="false">ADD</a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': selection[0]}" id="view" role="tabpanel"
        aria-labelledby="movies-list-tab">
        <div class="app-container">
          <app-add-seats></app-add-seats>
        </div>
      </div>
    </div>
  </div>
</div>