<h1>Your Card´s</h1>
<div class="content">
  <ul class="list-group">
      <li class="list-group-item" *ngFor="let card of cards">
          Card Number: {{card.number}}
          <a [routerLink]="['cardId/', card.id_card]" class="btn btn-info btn-block">
            SELECCIONAR
          </a>
      </li>
  </ul>
</div>

<div class="col-md-5" id="content">
  <form class="form-inline my-2 my-lg-0" id="form">
    <div id="advise"></div>
    <div class="mb-3">
      <label for="cardNumber" class="form-label">Card Number</label>
      <input type="number" name="cardNumber" #cardNumberSelect [(ngModel)]="card.number" placeholder="Enter Card Number" class="form-control"
        id="cardNumber">
    </div>

    <button type="submit" class="btn btn-success btn-block" (click)="saveNewCard(cardNumberSelect.value)">
      Save
    </button>

  </form>
</div>



