@use "../../../../assets/variables/variables.scss";

#content {
    background-color: variables.$primary-blackin-color;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin: 0 auto;

    .card {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #form {
        border-radius: 20px;
    }

    /*
    .search {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        width: auto;
    }
*/
}