@use "../../../../assets/variables/variables.scss";

#content {
    background-color: variables.$primary-blackin-color;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin: 0 auto;

    .card {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    #form {
        border-radius: 20px;
    }
    .a{
        background-image: '../../../../assets/credit-card.png';
    }

    
    /*
    .search {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        width: auto;
    }

    
*/
}

.table{
    thead{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
        }
    }
    tbody{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
            td{
                background-color: variables.$primary-lightin-color;
                border-left: 1px solid variables.$primary-light-color;
            }
        }
    }
}