@import '~bootstrap/dist/css/bootstrap.min.css';

header {
  height: 120px;
  background-color: #d80b0b;
  background-image: url('/assets/header-bg.png');
  background-repeat: no-repeat;
  border-radius: 0 0 15px 15px;
  display: flex;
  z-index: -1;
  align-items: flex-end;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  margin: 10px 15px;
}

.buttons{
  position: absolute; 
  top: 10px; 
  right: 10px;
  display: flex;
  margin: 5px;

  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  
  border-radius: 15px 15px 15px 15px;
  border-color: linear-gradient(to left, red, black);
  border-style: solid;
  border-width: 1px;
}
#login, #register{
  margin-right:5px; 
  margin-left: 5px;
  cursor: pointer;
}

#login:hover, #register:hover{
  cursor: pointer;
  color:blue;
}
.loginModal {
  position: fixed;
  margin: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}