.alta-usuario {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #000;
  }
  
  .button {
    background-color: #000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
  }
  
  .button:hover {
    background-color: #555;
  }