<div class="col-md-4 offset-md-2" id="content">
  <div>
    <h2>Confirmation of the transaction</h2>
    <div class="header">
      
      <div class="body-container">
        <div class="body-content">
            <div>
              <h1> The amount of the transaction is ${{function.price}}</h1>
              <button type="submit" class="btn btn-success btn-block" [routerLink]="['/']" (click)="saveNewTicket()" onclick="alert('Your ticket has been uploaded successfully');">
                Confirm your purchase
              </button>
        </div>
    </div>
  </div>
</div>
        
