<div class="col-md-4 offset-md-2" id="content">
  <form class="form-inline my-2 my-lg-0" id="form">
  <h1>Confirmation of the transaction</h1>
    <div id="advise">
      <div class="mb-3">
        <h2> The amount of the transaction is {{function.price}}</h2>
          <button type="submit" class="btn btn-success btn-block" [routerLink]="['/']" (click)="saveNewTicket()" onclick="alert('Your ticket has been uploaded successfully');">
            Confirm your purchase
          </button>
      </div>
    </div>
  </form>
</div>
        
