@use "../../../../../../assets/variables/variables.scss";

#content {
    display: flex;
    width: 100%;

    .card {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        height: 500px;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    /*
    .search {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        width: auto;
    }
*/
}

.table{
    thead{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
        }
    }
    tbody{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
            td{
                background-color: variables.$primary-lightin-color;
                border-left: 1px solid variables.$primary-light-color;
            }
        }
    }
}