 @use "../../../../assets/variables/variables.scss";
#content{
    display: flex;
    border: 2px solid variables.$primary-black-color;
    border-radius: 20px;
    margin: 0 auto; 
    max-width: 600px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

    .header{
        margin: 50px;
        padding: 20px;
        border: 2px solid variables.$primary-blackest-color;
        border-radius: 30px;
        background-color: variables.$primary-lightin-color;
        color: black;
    }
    .body-container{
        .body-content{
            h2{
                font-size: 30px;
            }
            p, ul, li{
                font-size: 15px;
            }
            div{
                margin: 30px;
            }
        }
    }
}