<div id="content">
    <div>
        <div class="header">
            <h1>About Us</h1>
        </div>
        <main class="py-5">
            <div class="body-container">
                <div class="body-content">
                    <div>
                        <h2>Our Story:</h2>
                        <p>
                            CINEMA UTN began as a dream, a shared vision among a group of friends who believed that
                            cinema
                            is a bridge that connects people across cultures, generations, and emotions. We embarked on
                            a
                            journey to transform this dream into reality, and today, we proudly stand as a testament to
                            our
                            dedication.
                        </p>
                    </div>
                    <div>
                        <h2>What We Offer:</h2>
                        <ul>
                            <li>A Cinematic Wonderland: Step into our state-of-the-art theaters, where every seat offers
                                an
                                exceptional view. Our screens come to life with the latest releases, beloved classics,
                                and
                                hidden gems waiting to be discovered.</li>
                            <li>Immersive Technology: We invest in cutting-edge audio and visual technology to ensure
                                that
                                every film is an immersive experience. From stunning visuals to spine-tingling sound, we
                                bring movies to life.</li>
                            <li>Themed Events: Beyond regular screenings, CINEMA UTN hosts themed events and film
                                festivals.
                                Dive into our 'Classic Cinema Nights,' 'Indie Film Showcases,' and 'Director's
                                Spotlight' to
                                explore the diverse world of cinema.</li>
                            <li>Community Engagement: CINEMA UTN is more than a theater; it's a community of cinephiles.
                                Join discussions, share reviews, and engage in lively debates with fellow movie lovers.
                            </li>
                            <li>Culinary Delights: Our theaters offer a delectable range of snacks, gourmet dining
                                options,
                                and a curated selection of beverages. Elevate your movie night with culinary treats.
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2>Our Team:</h2>
                        <p>
                            CINEMA UTN is nurtured by a passionate and experienced team of filmmakers, cinephiles, and
                            hospitality experts. We work tirelessly to curate a diverse film selection and create a
                            welcoming environment for our audience.
                        </p>
                    </div>
                    <div>
                        <h2>Why CINEMA UTN?</h2>
                        <p>
                            We believe in the magic of cinema. We believe in the power of stories to inspire, entertain,
                            and
                            provoke thought. Our doors are open to all who share this passion, whether you're a casual
                            moviegoer or a die-hard film buff. CINEMA UTN is a place where memories are made, where
                            laughter
                            and tears are shared, and where the world of cinema becomes a part of your life.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>