@use "../../../../../assets/variables/variables.scss";

.content {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#myTabContent {
    border: 2px solid variables.$primary-light-color;
    background-color: variables.$primary-blackin-color;
}