<div class="container">
    <div class="movie-details">
        <div class="movie-poster">
            <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" class="img-fluid rounded-start"
                alt="{{movie?.title}}">
        </div>
        <div class="movie-info">
            <h1>{{movie?.title}}</h1>
            <div id="details">
                <div id="detail">
                    <div id="data">
                        Genre:
                    </div>
                    <div id="info">
                        Aventure
                    </div>
                </div>
                <div id="detail">
                    <div id="data">
                        Language:
                    </div>
                    <div id="info">
                        {{movie?.original_language}}
                    </div>
                </div>
                <div id="detail">
                    <div id="data">
                        Release Date:
                    </div>
                    <div id="info">
                        {{movie?.release_date}}
                    </div>
                </div>
                <div id="detail">
                    <div id="data">
                        Vote Rate:
                    </div>
                    <div id="info">
                        {{movie?.vote_average}}
                    </div>
                </div>

            </div>
            <div id="details">
                <div id="detail">
                    <div id="data">
                        Overwiew:
                    </div>
                    <div id="info">
                        {{movie?.overview}}
                    </div>
                </div>
            </div>
            <div id="details">
                <div id="detail">
                    <div id="data">
                        Functions:
                    </div>
                    <div id="info">
                        <div class="alert alert-danger" role="alert" [hidden]="haveFunction != false" *ngIf="flag === false">
                            You need Register or Login to buy!
                        </div>
                        <div class="alert alert-danger" role="alert" [hidden]="haveFunction != false" *ngIf="flag === true">
                            Sorry! There are no showtimes available for this movie at the moment.
                        </div>
                        <!--Listar Funciones (en date hacer un *ngFor para listar los dias y un *ngfor en hour para listar horarios de ese dia)-->
                        <ng-container *ngFor="let function of functions">
                            <div id="date" [hidden]="haveFunction === false" *ngIf="flag === true">
                                <!--Aqui SI va *ngFOr-->
                                <!--Put Date-->
                                {{function.function_date}}
                                <div id="hours"><!--Aqui NO va *ngFOr-->
                                    <div id="hour" [hidden]="haveFunction === false" *ngIf="limitTicket === true"><!--Aqui SI va *ngFOr-->
                                        <a  [routerLink]="['functionId/', function.id_function]"
                                            class="btn btn-info btn-block"><!--Put Hour-->
                                            {{function.function_hour}}
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-section">
        <table class="table" *ngFor="let comment of comments">
            <thead>
                <tr>
                    <th scope="col">{{comment.user_name}}</th>
                    <th scope="col"></th>
                    <th scope="col">{{comment.date}}</th>
                </tr>
            </thead>
            <tbody>
                <tr><!--*ngFor-->
                    <td colspan="3">{{comment.comment}}</td><!--Seat-->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comments" *ngIf="flag === true">
        <div class="app-container"><app-add-comment [id]="movie!.id" (messageEvent)="receiveMessage($event)"></app-add-comment></div>
    </div>
</div>