@import '~bootstrap/dist/css/bootstrap.min.css';

.container{
    position: absolute;
    background-color: lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    height: 100vw;
    border-radius: 15px 15px 15px 15px;
    border-color: black 0.5px;
    z-index: -1;
}
#content{
    margin-top: 10px;   
    text-align: center;
}