<div class="container">
    <h1 class="mt-4">Mi Perfil</h1>
    <!-- Información de perfil -->
    <div class="card mt-4" id="card" style="background-color: var(--theme-color);">
        <div class="card-body" id="Profile">
            <img src="../../../../assets/Avatar.jpg" width="200px" height="200px" alt="Foto de perfil"
                class="img-fluid rounded-circle">
            <h2>{{gPerson.user_name}}</h2>
            <p>{{gPerson.email}}</p>
            <p>{{gPerson.born}}</p>
        </div>
    </div>
    <!--
    <div class="card mt-4" id="card" style="background-color: var(--theme-color);">
        <div class="card-body">
            <h3>Edit Profile</h3>
            <form>
                <div class="form-group">
                    <label for="nombre">Document:</label>
                    <input type="text" class="form-control" id="nombre" value="Document" [(ngModel)]="person.document">
                </div>

                <div class="form-group">
                    <label for="nombre">Username:</label>
                    <input type="text" class="form-control" id="nombre" value="Username" [(ngModel)]="person.user_name">
                </div>

                <div class="form-group">
                    <label for="nombre">Lastname:</label>
                    <input type="text" class="form-control" id="nombre" value="" [(ngModel)]="person.lastname">
                </div>

                <div class="form-group">
                    <label for="correo">Email:</label>
                    <input type="email" class="form-control" id="correo" value="user@example.com" [(ngModel)]="person.email">
                </div>

                <div class="form-group">
                    <label for="newPassword">Password:</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="New Password" name="genre" [(ngModel)]="person.password">
                </div>

                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <select class="form-control" id="genre" name="genre" [(ngModel)]="person.genre">
                        <option value="MASCULINO">Male</option>
                        <option value="FEMENINO">Female</option>
                    </select>
                </div>
        
        
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="person.phone">
                </div>

                <button type="submit" class="btn btn-primary" (click)="updatePerson()">Save Changes</button>
            </form>
        </div>
    </div>
    --> 
    <!-- Formulario para cambiar el color de la interfaz
    <div class="card mt-4" id="card_color">
        <div class="card-body">
            <h3>Cambiar Color de la Interfaz</h3>
            <form id="theme-form">
                <div class="form-group">
                    <label>Seleccionar Tema de Color:</label>
                    <div class="color-options">
                        <div *ngFor="let color of colors" class="color-option" [style.background-color]="color"
                            (click)="saveSelectedColorToCookie(color)"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    -->
</div>