@use "../../../../assets/variables/variables.scss";

#content {
    display: flex;
    flex-direction: column;
    .card {
        background-color: variables.$primary-blackin-color;
        margin: 20px;
        height: auto;
        width: auto;
        display: flex;  
    }
}