<div class="container">
    <h1>Cinema Utn</h1>
    
    <ul>
        <li class="movie-category">Adventures</li>
        <ul class="price-list">
          <li class="price-item">2D Format: $8.99</li>
          <li class="price-item">3D Format: $11.99</li>
          <li class="price-item">VIP Lounge (Includes Reclining Seat): $15.99</li>
        </ul>
    
        <li class="movie-category">Functions</li>
        <ul class="price-list">
          <li class="price-item">Standard: $7.99</li>
          <li class="price-item">Week's Premiere: $9.99</li>
        </ul>
    
        <li class="movie-category">All day, All Nigth</li>
        <ul class="price-list">
          <li class="price-item">Matinee (Before 3 PM): $6.99</li>
          <li class="price-item">Premiere Night: $10.99</li>
        </ul>
    
        <li class="movie-category">Family Cinema</li>
        <ul class="price-list">
          <li class="price-item">Children (Under 12 years): $5.99</li>
          <li class="price-item">Adults: $8.99</li>
        </ul>
      </ul>
    
      <p class="special-offers">
        Special Offers:<br>
        - Theme Nights (Tuesday): All movies at half price.<br>
        - Double Feature (Friday): Buy one ticket and get the second at 50% off.
      </p>
    </div>