@use "../../../../assets/variables/variables.scss";

.table{
    thead{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
        }
    }
    tbody{
        tr{
            th{
                background-color: variables.$primary-blackin-color;
                border-left: 1px solid variables.$primary-black-color;
            }
            td{
                background-color: variables.$primary-lightin-color;
                border-left: 1px solid variables.$primary-light-color;
            }
        }
    }
}
