<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Function</th>
            <th scope="col">Seat</th>
            <th scope="col">Date</th>
            <th scope="col">Hour</th>
            <th scope="col">Total Price</th>
            <th scope="col">Transaction</th>
        </tr>
    </thead>
    <tbody>
        <tr><!--*ngFor-->
            <th scope="row">1</th><!--Number of Row-->
            <td>Finished</td><!--Status-->
            <td>Frozen</td><!--Function-->
            <td>F7 , F8</td><!--Seat-->
            <td>2022-11-30</td><!--Date-->
            <td>20.30</td><!--Hour-->
            <td>2000</td><!--Price-->
            <td>15d5ge8azes8</td><!--Transaction-->
        </tr>
    </tbody>
</table>