<table class="table">
    <thead>
        <tr>
            <th scope="col">Document</th>
            <th scope="col">Function Date</th>
            <th scope="col">Function Hour</th>
            <th scope="col">Room Name</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets"><!--*ngFor-->
            <td>{{ticket.document}}</td><!--Function-->
            <td>{{ticket.function_date}}</td><!--Seat-->
            <td>{{ticket.function_hour}}</td><!--Date-->
            <td>{{ticket.room_name}}</td><!--Hour-->
            <td>{{ticket.mount}}</td><!--Price-->
        </tr>
    </tbody>
</table>