<div class="content">
      <ul class="list-group">  
            <li class="list-group-item" *ngFor="let function of functions">
              Movie Name: {{ function.title }} / Room Name: {{function.room_name}} / Function Date: {{ function.function_date }} / Function Hour: {{function.function_hour}} / Function Price: {{ function.price }}
              <button class="btn btn-danger" (click)="deleteFunction(function.id_function)">
                <i class="far fa-trash-alt">ELIMINAR</i>
              </button>
              <a [routerLink]="['function/edit', function.id_function]" class="btn btn-info btn-block">
                EDIT FUNCTION
              </a>
              
          </li>
      </ul>
</div>
