@use "../../../../../../assets/variables/variables.scss";

#content{
    background-color: variables.$primary-blackin-color;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin: 0 auto;
    
    #form {
        border-radius: 20px;
    }

}