<div class="col-md-4" *ngFor="let person of persons">
  <script>
    console.log(person);
  </script>
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{person.document}}
        
      </div>
      <div class="card-body">
        <p>{{person.user_name}}</p>
        <p>{{person.lastname}}</p>
        <a [routerLink]="['/persons/edit', person.id_person]" class="btn btn-info btn-block">
          EDIT PERSON
        </a>
      </div>
    </div>
  </div>