@use "../../../../../../assets/variables/variables.scss";

#container-search {
    background-color: variables.$primary-blackin-color;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    
    #search {
        display: flex;
        border-radius: 20px;
    }

}

#card {
    background-color: variables.$primary-blackin-color;
    border-radius: 25px;
    border: 1px solid variables.$primary-blacker-color;
    margin: 20px;
    height: 500px;
    width: auto;
    display: flex;
    flex-direction: column;

    #title {
        margin-top: 5px;
    }

    #image {
        margin: 5px;
    }

    #button {
        margin-bottom: 10xp;
        z-index: 90;
    }
}