<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="document" [(ngModel)]="function.id_movie" placeholder="Id Movie" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input name="text" [(ngModel)]="function.id_room" placeholder="Id Room" class="form-control">
        </div>
        <div class="form-group">
          <input name="date" [(ngModel)]="function.function_date" placeholder="Date" class="form-control">
        </div>
        <div class="form-group">
          <input type="hour" name="text" [(ngModel)]="function.function_hour" placeholder="Hour" class="form-control">
        </div>
        <div class="form-group">
          <input name="text" [(ngModel)]="function.price" placeholder="Price" class="form-control">
        </div>
        
        <button class="btn btn-success btn-block" (click)="edit ? updateFunction() : saveNewFunction()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>