<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="document" [(ngModel)]="seat.id_Room" placeholder="Document" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="text" [(ngModel)]="seat.seat_letter" placeholder="Username" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="text" name="document" [(ngModel)]="seat.seat_number" placeholder="Document" class="form-control" autofocus>
        </div>
        
        <button class="btn btn-success btn-block" (click)="edit ? updateSeat() : saveNewSeat()">
          Save
        </button>
      </form>
    </div>
  </div>
</div>