<div class="col-md-4" *ngFor="let combo of combos">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{combo.combo_description}}
        <button class="btn btn-danger" (click)="deleteCombo(combo.id_combo)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <div class="card-body">
        <p>{{combo.price}}</p>
        <a [routerLink]="['/combos/edit', combo.id_combo]" class="btn btn-info btn-block">
          EDIT COMBO
        </a>
      </div>
    </div>
  </div>